@model IEnumerable<BBMS_Project.Models.SeekerModel>
@{
    Layout = "~/Views/Shared/_User.cshtml";
}
<style>
    .dropbtn {
        background-color: #EF3D32;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        padding-left: 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropbtn div {
        width: 20px;
        height: 3px;
        background-color: black;
        margin: 3px 0;
    }

    .welcome {
        text-align: left;
        font-size: 20px;
        padding-left: 15px;
    }
</style>
<div style="text-align:left; font-size:20px; padding-left:15px; margin-top:50px;">
    <b>
        Welcome
        @HttpContext.Current.User.Identity.Name &nbsp;!
    </b>


</div><div class="dropdown">
    <button class="dropbtn">
        <div></div>
        <div></div>
        <div></div>
    </button>
    <div class="dropdown-content">
        <a href='@Url.Action("AddRequest", "Seeker")'>Send Request</a>
        <a href='@Url.Action("HistoryDetails", "Seeker")'> History</a>
        <a href='@Url.Action("EditSeekerDetails", "Seeker")'>Update Profile</a>
        <a href='@Url.Action("EditSeekerDetails", "Seeker")'> Delete Account</a>

        <a href='@Url.Action("Logout", "Seeker")'>Logout</a>

    </div>
</div>
<h4 style="color: red;  padding-top:5px;font-size:25px; text-align:center; "><b>HISTORY</b></h4>

@using (Html.BeginForm("ConvertToPDF", "Seeker", FormMethod.Post))
{
    <div class="form-group " style="margin-left: 200px; padding-left:1000px;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Download Report" class="btn btn-default rounded-box" />

        </div>
    </div>
    <br />
    <br />
}

<table class="table" style=" width:70%;margin-left:auto; margin-right:auto;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bloodgroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bloodbank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequirementDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Createdon)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="border:0px;">
            <td>
                @Html.DisplayFor(modelItem => item.Bloodgroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Bloodbank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequirementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createdon)
            </td>
        </tr>

    }

</table>
<br />