@model IEnumerable<BBMS_Project.Models.DonorModel>

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h4 style="margin-left:1000px ; padding-top:70px">
    Donor Request
</h4>


<table class="table text-center" border="1" style="background-color:lightblue ; width:82% ;margin-left:312px">
    <tr>
       @* <th>
            @Html.DisplayNameFor(model => model.donorreqid)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bloodgroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requestdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bloodbank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volume)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Reqstat)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
          @*  <td>
                @Html.DisplayFor(modelItem => item.donorreqid)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Bloodgroup)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Requestdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bloodbank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td style="font-weight: bold; color: #3c64ad">
                @Html.DisplayFor(modelItem => item.Reqstat)
            </td>
            <td>
                @Html.ActionLink("Approve", "ApproveDonorReq", new { id = item.donorreqid,vol = item.Volume }, new { @class = "btn btn-info fa fa-pencil", style = "background-color: #3c64ad" })  |
                @Html.ActionLink("Reject", "RejectDonorReq", new { id = item.donorreqid }, new { @class = "btn btn-info fa fa-pencil", style = "background-color: #cd1a1a" })

            </td>
        </tr>
    }

</table>
